img:hover{
    opacity: 80%;
  
}

.title-container{
display: flex;
flex-direction:column;
justify-content:center;
align-content:center;
align-items:center;
padding: 3rem 0 0 0;

.banner{
    display:flex;
    justify-content:center;
    position: relative;
    text-align: center;
    color: white;

    .websitename {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20%;
        
      
        .myButton {
            .buttonstyle();
            .btn(8px, 20px);
            padding: 1% 5%;
            border-radius: 5px;
            margin-left: 35%;
        }
        .myButton:hover {
            background-color:#408c99;
        }
        .myButton:active {
            position:relative;
            top:1px;
        }

    }

}
hr{
    border: 1px solid grey;
    width:45%;
}
}

.artists-container{
    display:flex;
    height:105%;
    width:100%;
    flex-direction:row;
    justify-content:center;
    align-content:center;
    .artist{
        display:flex;
        justify-content:center;
        width:40%;
        align-content:center;
     
     
        .artist1{  
            display:flex;
            flex-direction:column;
            align-items:center;
            align-content: center;
            margin-right:30%;    
            width:30%; 
            padding: 2rem 0 0 0;
            color: black;


            .bio{
                width: 20rem;
                padding: 1rem 0 0 0;
                color: black;

            }
            a{
                display:flex;
                justify-content:center;
                align-items:center;
                padding: 1rem 0 0 0;
                
                font-size:120%;
                text-decoration: none;
                color:black;
            }     
            img{ 
                width:70%;
                border-radius: 5px;
                @media @moblie {
                width: 50%;}
            
            }
        }
        .artist2{
            display:flex;
            flex-direction:column;
            align-items:center;
            align-content: center;
            width:35%; 
            padding: 2rem 0 0 0;
            @media @moblie {
                width: 25%;}


            .bio {
                width: 20rem;
                color:black;
                padding: 1rem 0 0 0;
                @media @moblie {
                    width: 15rem;
                }

            }
            a{
                display:flex;
                justify-content:center;
                align-items:center;
                padding: 1rem 0 0 0;
                
                font-size:110%;
                text-decoration: none;
                color:black;
                @media @moblie {
                    font-size: 90%;
                }
            }    
            img{
                width:70%;
                border-radius:10px;
                @media @moblie {
                    width: 50%;
            }
        }
    }
    }
